matplotlib==3.7.2
numpy==1.23.5
opencv_python==4.8.0.74
pandas==2.0.3
Pillow==10.4.0
pybullet==3.2.6
PyYAML==6.0.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.65.0
opencv_python==4.8.0.74
ultralytics>=8.0.0
